@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-sd-black;
}

@font-face {
    font-family: 'archivo-black';
    src: url('/fonts/Archivo_Black/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space-mono';
    src: url('/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}